<!-- Page Header Start -->
<div class="page-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12"> 
        <!-- Page Header Box Start -->
        <div class="page-header-box">
          <h1 class="text-anime-style-2" data-cursor="-opaque">{{title}}</h1>
          <nav class="wow fadeInUp">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">home</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0);">blogs</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
            </ol>
          </nav>
        </div>
        <!-- Page Header Box End --> 
      </div>
    </div>
  </div>
</div>
<!-- Page Header End --> 

<!-- Page Single Post Start -->
<div class="page-single-post">
  <div class="container">
    <div class="row">
      <div class="col-lg-12"> 
        <!-- Post Featured Image Start -->
        <div class="post-image">
          <figure class="image-anime reveal"> <img src="{{thumbnail_image}}" alt=""> </figure>
        </div>
        <!-- Post Featured Image Start --> 
        
        <!-- Post Single Content Start -->
        <div class="post-content"> 
          <!-- Post Entry Start -->
          <div class="post-entry"> {{blog_content}} </div>
          <!-- Post Entry End --> 
          
          <!-- Post Tag Links Start -->
          <div class="post-tag-links">
            <div class="row align-items-center">
              <div class="col-lg-8"> 
                <!-- Post Tags Start -->
                <div class="post-tags wow fadeInUp" data-wow-delay="0.5s"> <span class="tag-links"> Tags: <a href="#">prefab-homes</a> <a href="#">shipping-containers</a> <a href="#">sustainable-living</a> <a href="#">modular-construction</a> <a href="#">container-homes-ahmedabad</a> <a href="#">eco-friendly-homes</a> <a href="#">fast-construction</a> <a href="#">affordable-housing</a> <a href="#">prefab-designs</a> <a href="#">durable-containers</a> </span> </div>
                <!-- Post Tags End --> 
              </div>
              <div class="col-lg-4"> 
                <!-- Post Social Links Start -->
                <div class="post-social-sharing wow fadeInUp" data-wow-delay="0.5s">
                  <ul>
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                  </ul>
                </div>
                <!-- Post Social Links End --> 
              </div>
            </div>
          </div>
          <!-- Post Tag Links End --> 
        </div>
        <!-- Post Single Content End --> 
      </div>
    </div>
  </div>
</div>
<!-- Page Single Post End -->