<!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <!-- Page Header Box Start -->
                    <div class="page-header-box">
                        <h1 class="text-anime-style-2" data-cursor="-opaque">Contact Us</h1>
                        <nav class="wow fadeInUp">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">contact us</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- Page Header Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Page Contact Us Start -->
    <div class="page-contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- Contact Info Item Start -->
                    <div class="contact-info-item wow fadeInUp">
                        <div class="contact-info-img">
                            <figure class="image-anime">
                                <img src="images/contact-info-img-1.jpg" alt="">
                            </figure>
                        </div>
                        <div class="contact-info-body">
                            <div class="icon-box">
                                <img src="images/icon-phone.svg" alt="">
                            </div>
                            <div class="contact-info-content">
                                <h3>Call Us Anytime!</h3>
                                <p>+91 98676 05235</p>
                                <p>+91 70218 55966</p>
                            </div>
                        </div>
                    </div>
                    <!-- Contact Info Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Contact Info Item Start -->
                    <div class="contact-info-item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="contact-info-img">
                            <figure class="image-anime">
                                <img src="images/contact-info-img-2.jpg" alt="">
                            </figure>
                        </div>
                        <div class="contact-info-body">
                            <div class="icon-box">
                                <img src="images/icon-mail.svg" alt="">
                            </div>
                            <div class="contact-info-content">
                                <h3>Drop Us an Email</h3>
                                <p>asif@epicsinfra.in</p>
                                <p>info@epicsinfra.in</p>
                            </div>
                        </div>
                    </div>
                    <!-- Contact Info Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Contact Info Item Start -->
                    <div class="contact-info-item wow fadeInUp" data-wow-delay="0.4s">
                        <div class="contact-info-img">
                            <figure class="image-anime">
                                <img src="images/contact-info-img-1.jpg" alt="">
                            </figure>
                        </div>
                        <div class="contact-info-body">
                            <div class="icon-box">
                                <img src="images/icon-location.svg" alt="">
                            </div>
                            <div class="contact-info-content">
                                <h3>Visit Our Office</h3>
                                <p>B-205, Aliza Business Center, Amber Tower, Sarkhej, Ahmedabad - 380055 (GJ)</p>
                            </div>
                        </div>
                    </div>
                    <!-- Contact Info Item End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Contact Us End -->    

    <!-- Contact Form Section Start -->
     <div class="contact-form-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- Contact Form Image Start -->
                    <div class="contact-form-img">
                        <figure class="image-anime reveal">
                            <img src="images/contact-us-img.jpg" alt="">
                        </figure>
                    </div>
                    <!-- Contact Form Image End -->
                </div>

                <div class="col-lg-6">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">contact us</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">Reach Out <span>to Epics Infra</span></h2>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">Got a prefab project in mind? Contact us today! We’re here to answer questions and deliver top prefab construction in Ahmedabad.</p>
                    </div>
                    <!-- Section Title End -->

                    <div class="contact-form">
                        <!-- Contact Form Start -->
                    {{ form:create in="contact_us" }}
						{{ if success }}
                            <h2><i class="fa fa-thumbs-up"></i> Voilá! We have received your message.</h2>
                        {{ /if }}
                        <!-- <form id="contactForm" action="#" method="POST" data-toggle="validator" class="wow fadeInUp" data-wow-delay="0.4s"> -->
                            <div class="row">
                                <div class="form-group col-md-12 mb-4">
                                    <input type="text" name="name" class="form-control" id="fullname" placeholder="Full Name" required>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group col-md-6 mb-4">
                                    <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone no" required>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group col-md-6 mb-4">
                                    <input type="email" name="email" class="form-control" id="email" placeholder="E-mail address" required>
                                    <div class="help-block with-errors"></div>
                                </div>
								
                                <div class="form-group col-md-12 mb-4">
                                    <input type="text" name="city" class="form-control" id="city" placeholder="City" required>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group col-md-12 mb-5">
                                    <textarea name="message" class="form-control" id="message" rows="4" placeholder="Tell us about your prefab needs"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="col-md-12">
                                    <button type="submit" class="btn-default">send message</button>
                                    <div id="msgSubmit" class="h3 hidden"></div>
                                </div>
                            </div>
                        <!-- Contact Form End -->
						{{ /form:create }}
                    </div>
                </div>
            </div>
        </div>
     </div>
    <!-- Contact Form Section End -->

    <!-- Google Map Start -->
    <div class="google-map">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Google Map Start -->
                    <div class="google-map-iframe">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.806573193528!2d72.53576397499264!3d23.030985115495515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848ed44114fb%3A0x31513873e3897896!2sAmber%20Tower%2C%20Sarkhej%2C%20Ahmedabad%2C%20Gujarat%20380055%2C%20India!5e0!3m2!1sen!2sin!4v1703161234567!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <!-- Google Map End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Google Map End -->  