<!-- Hero Section Start -->
<div class="hero hero-bg-image hero-slider-layout">
  <div class="swiper">
    <div class="swiper-wrapper"> 
      <!-- Hero Slide Start: General Prefab Solutions -->
      <div class="swiper-slide">
        <div class="hero-slide"> 
          <!-- Slider Image Start -->
          <div class="hero-slider-image"> <img src="/assets/slide-1.webp" alt="Epics Infra Prefab Construction Solutions"> </div>
          <!-- Slider Image End -->
          
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-12"> 
                <!-- Hero Content Start -->
                <div class="hero-content"> 
                  <!-- Section Title Start -->
                  <div class="section-title dark-section">
                    <h3 class="wow fadeInUp">welcome to epics infra</h3>
                    <h1 class="text-anime-style-2" data-cursor="-opaque"><span>Revolutionizing</span> Construction with Prefab Excellence</h1>
                    <p class="wow fadeInUp" data-wow-delay="0.2s">Discover the future of construction with Epics Infra's prefab solutions. Our modular buildings are fast to assemble, cost-effective, and environmentally friendly. Whether you need a temporary office or a permanent structure, we've got you covered.</p>
                  </div>
                  <!-- Section Title End --> 
                  
                  <!-- Hero Content Body Start -->
                  <div class="hero-content-body wow fadeInUp" data-wow-delay="0.4s"> 
                    <!-- Hero Button Start -->
                    <div class="hero-btn"> <a href="/contact" class="btn-default">get started</a> </div>
                    <!-- Hero Button End --> 
                    
                    <!-- Hero Introduction Video Start -->
                    <div class="hero-introduction-video"> 
                      <!-- Video Play Button Start -->
                      <div class="video-play-button"> <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video" data-cursor-text="Play"> <img src="images/icon-play.svg" alt=""> </a>
                        <p>introduction</p>
                      </div>
                      <!-- Video Play Button End --> 
                    </div>
                    <!-- Hero Introduction Video End --> 
                  </div>
                  <!-- Hero Content Body End --> 
                </div>
                <!-- Hero Content End --> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Slide End --> 
      <!-- Hero Slide Start: Porta Cabins -->
      <div class="swiper-slide">
        <div class="hero-slide"> 
          <!-- Slider Image Start -->
          <div class="hero-slider-image"> <img src="/assets/sllide-2.webp" alt="Epics Infra Porta Cabins"> </div>
          <!-- Slider Image End -->
          
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-12"> 
                <!-- Hero Content Start -->
                <div class="hero-content"> 
                  <!-- Section Title Start -->
                  <div class="section-title dark-section">
                    <h3 class="wow fadeInUp">Porta Cabins</h3>
                    <h1 class="text-anime-style-2" data-cursor="-opaque"><span>Versatile</span> Porta Cabins for Every Need</h1>
                    <p class="wow fadeInUp" data-wow-delay="0.2s">Our Porta Cabins are the perfect solution for portable offices, temporary housing, or storage. With quick setup and robust design, they’re built to last.</p>
                  </div>
                  <!-- Section Title End --> 
                  
                  <!-- Hero Content Body Start -->
                  <div class="hero-content-body wow fadeInUp" data-wow-delay="0.4s"> 
                    <!-- Hero Button Start -->
                    <div class="hero-btn"> <a href="/products/porta-cabins" class="btn-default">Explore Porta Cabins</a> </div>
                    <!-- Hero Button End --> 
                    
                    <!-- Hero Introduction Video Start -->
                    <div class="hero-introduction-video"> 
                      <!-- Video Play Button Start -->
                      <div class="video-play-button"> <a href="https://www.youtube.com/watch?v=porta-cabins-video" class="popup-video" data-cursor-text="Play"> <img src="images/icon-play.svg" alt=""> </a>
                        <p>Watch Video</p>
                      </div>
                      <!-- Video Play Button End --> 
                    </div>
                    <!-- Hero Introduction Video End --> 
                  </div>
                  <!-- Hero Content Body End --> 
                </div>
                <!-- Hero Content End --> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Slide End --> 
      <!-- Hero Slide Start: Prefab Portable Offices -->
      <div class="swiper-slide">
        <div class="hero-slide"> 
          <!-- Slider Image Start -->
          <div class="hero-slider-image"> <img src="/assets/slide-3.webp" alt="Epics Infra Prefab Portable Offices"> </div>
          <!-- Slider Image End -->
          
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-12"> 
                <!-- Hero Content Start -->
                <div class="hero-content"> 
                  <!-- Section Title Start -->
                  <div class="section-title dark-section">
                    <h3 class="wow fadeInUp">Prefab Portable Offices</h3>
                    <h1 class="text-anime-style-2" data-cursor="-opaque"><span>Efficient</span> Prefab Offices for Modern Workspaces</h1>
                    <p class="wow fadeInUp" data-wow-delay="0.2s">Transform your workspace with our prefab office solutions. Quick to install and fully customizable, they provide a comfortable and efficient environment for your team.</p>
                  </div>
                  <!-- Section Title End --> 
                  
                  <!-- Hero Content Body Start -->
                  <div class="hero-content-body wow fadeInUp" data-wow-delay="0.4s"> 
                    <!-- Hero Button Start -->
                    <div class="hero-btn"> <a href="/products/prefab-portable-offices" class="btn-default">Explore Prefab Offices</a> </div>
                    <!-- Hero Button End --> 
                    
                    <!-- Hero Introduction Video Start -->
                    <div class="hero-introduction-video"> 
                      <!-- Video Play Button Start -->
                      <div class="video-play-button"> <a href="https://www.youtube.com/watch?v=prefab-offices-video" class="popup-video" data-cursor-text="Play"> <img src="images/icon-play.svg" alt=""> </a>
                        <p>Watch Video</p>
                      </div>
                      <!-- Video Play Button End --> 
                    </div>
                    <!-- Hero Introduction Video End --> 
                  </div>
                  <!-- Hero Content Body End --> 
                </div>
                <!-- Hero Content End --> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Slide End --> 
      <!-- Hero Slide Start: Prefab Labour Colonies -->
<div class="swiper-slide">
    <div class="hero-slide">
        <!-- Slider Image Start -->
        <div class="hero-slider-image">
            <img src="/assets/slide-5.webp" alt="Epics Infra Prefab Labour Colonies">
        </div>
        <!-- Slider Image End -->

        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <!-- Hero Content Start -->
                    <div class="hero-content">
                        <!-- Section Title Start -->
                        <div class="section-title dark-section">
                            <h3 class="wow fadeInUp">Prefab Labour Colonies</h3>
                            <h1 class="text-anime-style-2" data-cursor="-opaque"><span>Comfortable</span> Worker Housing, Built Fast</h1>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">Our prefab labour colonies provide durable, comfortable accommodation for your workforce. Designed for quick setup and sustainability, they’re the perfect solution for construction sites or factories.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- Hero Content Body Start -->
                        <div class="hero-content-body wow fadeInUp" data-wow-delay="0.4s">
                            <!-- Hero Button Start -->
                            <div class="hero-btn">
                                <a href="/products/prefab-labour-colonies" class="btn-default">Explore Labour Colonies</a>
                            </div>
                            <!-- Hero Button End -->

                            <!-- Hero Introduction Video Start -->
                            <div class="hero-introduction-video">
                                <!-- Video Play Button Start -->
                                <div class="video-play-button">
                                    <a href="https://www.youtube.com/watch?v=prefab-labour-colonies-video" class="popup-video" data-cursor-text="Play">
                                        <img src="images/icon-play.svg" alt="">
                                    </a>
                                    <p>Watch Video</p>
                                </div>
                                <!-- Video Play Button End -->
                            </div>
                            <!-- Hero Introduction Video End -->
                        </div>
                        <!-- Hero Content Body End -->
                    </div>
                    <!-- Hero Content End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Slide End -->
    </div>
    <div class="hero-pagination"></div>
  </div>
</div>
<!-- Hero Section End --> 

<!-- About Us Section Start -->
<div class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-6"> 
        <!-- About Us Images Start -->
        <div class="about-us-images"> 
          <!-- About Image 1 Start -->
          <div class="about-img-1">
            <figure class="image-anime reveal"> <img src="/assets/ms-porta-cabin-construction-site-india.webp" alt="MS Porta Cabin installed at a construction site in India with no people."> </figure>
          </div>
          <!-- About Image 1 End --> 
          
          <!-- About Image 2 Start -->
          <div class="about-img-2">
            <figure class="image-anime reveal"> <img src="/assets/indian-construction-site-porta-cabin.webp" alt="Porta Cabin at an Indian construction site with red bricks and cement bags."> </figure>
          </div>
          <!-- About Image 2 End --> 
          
          <!-- Contact Circle Start -->
          <div class="contact-circle"> <img src="images/contact-us-img.svg" alt=""> </div>
          <!-- Contact Circle End --> 
        </div>
        <!-- About Us Images End --> 
      </div>
      <div class="col-lg-6"> 
        <!-- About Us Content Start -->
        <div class="about-us-content"> 
          <!-- Section Title Start -->
          <div class="section-title">
            <h3 class="wow fadeInUp">about us</h3>
            <h2 class="text-anime-style-2" data-cursor="-opaque">Reliable partner for <span>prefab solutions</span></h2>
            <p class="wow fadeInUp" data-wow-delay="0.2s">With decades of expertise in prefab construction, we offer custom designs to ensure fast builds and durability. Our mission is to provide you efficiency, quality, and a tailored approach.</p>
          </div>
          <!-- Section Title End --> 
          
          <!-- About Content body Start -->
          <div class="about-content-body">
            <div class="row align-items-center">
              <div class="col-md-6"> 
                <!-- About Content Info Start -->
                <div class="about-content-info"> 
                  <!-- About Goal Box Start -->
                  <div class="about-goal-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="icon-box"> <img src="images/icon-financial-strategies.svg" alt=""> </div>
                    <div class="about-goal-box-content">
                      <h3>prefab innovation</h3>
                      <p>Custom designs to meet your unique construction needs and goals.</p>
                    </div>
                  </div>
                  <!-- About Goal Box End --> 
                  
                  <!-- About Contact Box Start -->
                  <div class="about-contact-box wow fadeInUp" data-wow-delay="0.6s">
                    <div class="icon-box"> <img src="images/icon-phone.svg" alt=""> </div>
                    <div class="about-contact-content">
                      <p><a href="tel:+919867605235">+91 98676 05235</a></p>
                    </div>
                  </div>
                  <!-- About Contact Box End --> 
                </div>
                <!-- About Content Info End --> 
              </div>
              <div class="col-md-6"> 
                  <!-- About Info List Start -->
                  <div class="about-info-list">
                    <ul>
                      <li>project management</li>
                      <li>customer focus</li>
                      <li>24/7 support</li>
                    </ul>
                  </div>
                  <!-- About Info List End --> 
                </div>
                <!-- About Author Box End --> 
              </div>
            </div>
          </div>
          <!-- About Content body End --> 
        </div>
        <!-- About Us Content End --> 
      </div>
    </div>
  </div>
<!-- About Us Section End --> 

<!-- Our Services Section Start -->
<div class="our-services">
  <div class="container">
    <div class="row">
      <div class="col-lg-4"> 
        <!-- Service Content Start -->
        <div class="our-service-content"> 
          <!-- Section Title Start -->
          <div class="section-title">
            <h3 class="wow fadeInUp">Products</h3>
            <h2 class="text-anime-style-2" data-cursor="-opaque">Expert prefab &amp; modular services <span>for success</span></h2>
          </div>
          <!-- Section Title End --> 
          
          <!-- Section content Button Start -->
          <div class="service-content-btn wow fadeInUp" data-wow-delay="0.25s"> <a href="services.html" class="btn-default">all services</a> </div>
          <!-- Section content Button End --> 
        </div>
        <!-- Service Content End --> 
      </div>
      <div class="col-lg-8"> 
        <!-- Our Service List Start -->
        <div class="our-service-list">
			{{collection:products}}
          <!-- Service Item Start -->
          <div class="service-item">
            <div class="service-no">
              <h2>0{{index + 1}}</h2>
            </div>
            <div class="service-content-box">
              <div class="service-item-content">
                <h3>{{title}}</h3>
                <p>{{content}}</p>
                <a href="{{url}}" class="service-btn"><img src="/images/arrow-white.svg" alt=""></a></div>
            </div>
          </div>
          <!-- Service Item End --> 
          {{/collection:products}}
        </div>
        <!-- Our Service List End --> 
        
        <!-- Service Footer Start -->
        <div class="service-footer wow fadeInUp" data-wow-delay="0.8s">
          <p>Let's create something great together. <a href="/contact">Get Free Quote</a></p>
        </div>
        <!-- Service Footer End --> 
      </div>
    </div>
  </div>
</div>
<!-- Our Services Section End --> 

<!-- Why Choose Us Section Start -->
<div class="why-choose-us">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6"> 
        <!-- Why Choose Content Start -->
        <div class="why-choose-content"> 
          <!-- Section Title Start -->
          <div class="section-title">
            <h3 class="wow fadeInUp">why choose us</h3>
            <h2 class="text-anime-style-2" data-cursor="-opaque">Why trust us <span>for prefab</span></h2>
          </div>
          <!-- Section Title End --> 
          
          <!-- Why Choose Box List Start -->
          <div class="why-choose-box-list"> 
            <!-- Why Choose Box Start -->
            <div class="why-choose-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon-box"> <img src="images/icon-why-choose-1.svg" alt=""> </div>
              <div class="why-choose-box-content">
                <h3>fast construction</h3>
                <p>Quick builds to meet your urgent construction needs and timelines.</p>
              </div>
            </div>
            <!-- Why Choose Box End --> 
            
            <!-- Why Choose Box Start -->
            <div class="why-choose-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon-box"> <img src="images/icon-why-choose-2.svg" alt=""> </div>
              <div class="why-choose-box-content">
                <h3>sustainability</h3>
                <p>Eco-friendly designs to reduce waste and support green building goals.</p>
              </div>
            </div>
            <!-- Why Choose Box End --> 
          </div>
          <!-- Why Choose Box List End --> 
          
          <!-- Why Choose List Start -->
          <div class="why-choose-list wow fadeInUp" data-wow-delay="0.4s">
            <ul>
              <li>custom prefab solutions</li>
              <li>expert project management</li>
            </ul>
          </div>
          <!-- Why Choose List End --> 
        </div>
        <!-- Why Choose Content End --> 
      </div>
      <div class="col-lg-6"> 
        <!-- Why Choose Image Start -->
        <div class="why-choose-image"> 
          <!-- Why Choose Image 1 Start -->
          <div class="why-choose-img-1">
            <figure class="image-anime reveal"> <img src="/assets/porta-cabin-indian-building-site.webp" alt="Porta Cabin at an Indian building site with bamboo scaffolding."> </figure>
          </div>
          <!-- Why Choose Image 1 End --> 
          
          <!-- Why Choose Image 2 Start -->
          <div class="why-choose-img-2">
            <figure class="image-anime reveal"> <img src="/assets/ms-porta-cabin-dusty-ground-india.webp" alt="Porta Cabin at an Indian construction site with red bricks and cement bags."> </figure>
          </div>
          <!-- Why Choose Image 2 End --> 
          
          <!-- Why Choose Contact Circle Start -->
          <div class="why-choose-contact-circle"> <img src="images/contact-us-img.svg" alt=""> </div>
          <!-- Why Choose Contact Circle Start --> 
        </div>
        <!-- Why Choose Image End --> 
      </div>
    </div>
  </div>
</div>
<!-- Why Choose Us Section End --> 

<!-- Our Feature Section Stat -->
<div class="our-feature">
  <div class="container">
    <div class="row section-row align-items-center">
      <div class="col-lg-6"> 
        <!-- Section Title Start -->
        <div class="section-title dark-section">
          <h3 class="wow fadeInUp">our feature</h3>
          <h2 class="text-anime-style-2" data-cursor="-opaque">Key features of our prefab <span>and modular</span></h2>
        </div>
        <!-- Section Title End --> 
      </div>
      <div class="col-lg-6"> 
        <!-- Section Button Start -->
        <div class="section-btn wow fadeInUp" data-wow-delay="0.2s"> <a href="/contact" class="btn-default">contact now</a> </div>
        <!-- Section Button End --> 
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12"> 
        <!-- Our Feature List Start -->
        <div class="our-feature-list"> 
          <!-- Feature Item Start -->
          <div class="our-feature-item wow fadeInUp">
            <div class="icon-box"> <img src="images/icon-our-feature-1.svg" alt=""> </div>
            <div class="feature-item-content">
              <h3>modular solutions</h3>
              <p>Our prefab solutions provide flexible and rapid designs to meet your unique needs, from offices to homes.</p>
            </div>
          </div>
          <!-- Feature Item End --> 
          
          <!-- Feature Item Start -->
          <div class="our-feature-item wow fadeInUp" data-wow-delay="0.2s">
            <div class="icon-box"> <img src="images/icon-our-feature-2.svg" alt=""> </div>
            <div class="feature-item-content">
              <h3>cost efficiency</h3>
              <p>Our prefab designs reduce costs with off-site builds to meet your budget needs and project goals.</p>
            </div>
          </div>
          <!-- Feature Item End --> 
          
          <!-- Feature Item Start -->
          <div class="our-feature-item wow fadeInUp" data-wow-delay="0.4s">
            <div class="icon-box"> <img src="images/icon-our-feature-3.svg" alt=""> </div>
            <div class="feature-item-content">
              <h3>rapid assembly</h3>
              <p>Our prefab systems ensure fast setups to meet your tight timelines, from kiosks to large buildings.</p>
            </div>
          </div>
          <!-- Feature Item End --> 
          
          <!-- Feature Item Start -->
          <div class="our-feature-item wow fadeInUp" data-wow-delay="0.6s">
            <div class="icon-box"> <img src="images/icon-our-feature-4.svg" alt=""> </div>
            <div class="feature-item-content">
              <h3>durability</h3>
              <p>Our prefab structures offer robust builds to meet your long-term needs, from cafes to colonies.</p>
            </div>
          </div>
          <!-- Feature Item End --> 
          
          <!-- Feature Item Start -->
          <div class="our-feature-item wow fadeInUp" data-wow-delay="0.8s">
            <div class="icon-box"> <img src="images/icon-our-feature-5.svg" alt=""> </div>
            <div class="feature-item-content">
              <h3>eco-friendly designs</h3>
              <p>Our prefab methods cut waste to meet your green goals, from toilets to pre-engineered units.</p>
            </div>
          </div>
          <!-- Feature Item End --> 
          
          <!-- Feature Item Start -->
          <div class="our-feature-item wow fadeInUp" data-wow-delay="1s">
            <div class="icon-box"> <img src="images/icon-our-feature-6.svg" alt=""> </div>
            <div class="feature-item-content">
              <h3>custom projects</h3>
              <p>Our prefab expertise tailors builds to meet your unique needs, from farmhouses to restaurants.</p>
            </div>
          </div>
          <!-- Feature Item End --> 
        </div>
        <!-- Our Feature List End --> 
      </div>
      <div class="col-lg-12"> 
        <!-- Our Featured Footer Start -->
        <div class="our-feature-footer wow fadeInUp" data-wow-delay="1.2s">
          <p><span>Free</span> Let's create something great together. <a href="/contact">Get Free Quote</a></p>
        </div>
        <!-- Our Featured Footer End --> 
      </div>
    </div>
  </div>
</div>
<!-- Our Feature Section End --> 

<!-- Some Fact Section Start -->
<div class="fact-counter">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6"> 
        <!-- Fact Counter Image Start -->
        <div class="fact-counter-image"> 
          <!-- Fact Counter img Start -->
          <div class="fact-counter-img">
            <figure class="image-anime reveal"> <img src="/assets/ms-porta-cabin-neem-tree-construction.webp" alt="MS Porta Cabin with a neem tree in the background at an Indian construction site."> </figure>
          </div>
          <!-- Fact Counter img End --> 
          
          <!-- Fact Counter Skillbar Start -->
          <div class="fact-counter-skillbar"> <img src="images/fact-counter-skillbar-img.png" alt=""> </div>
          <!-- Fact Counter Skillbar End --> 
        </div>
        <!-- Fact Counter Image End --> 
      </div>
      <div class="col-lg-6"> 
        <!-- Fact Counter Content Start -->
        <div class="fact-counter-content"> 
          <!-- Section Title Start -->
          <div class="section-title">
            <h3 class="wow fadeInUp">some facts</h3>
            <h2 class="text-anime-style-2" data-cursor="-opaque">Key facts our <span>prefab expertise</span></h2>
            <p class="wow fadeInUp" data-wow-delay="0.2s">Our success is rooted in years of prefab experience, proven designs, and a dedication to client satisfaction.</p>
          </div>
          <!-- Section Title End --> 
          
          <!-- Fact Counter Box List Start -->
          <div class="fact-counter-box-list"> 
            <!-- Fact Counter Box Start -->
            <div class="fact-counter-box">
              <div class="icon-box"> <img src="images/icon-fact-counter-1.svg" alt=""> </div>
              <div class="fact-counter-box-content">
                <h2><span class="counter">15</span>+</h2>
                <p>Years of experience</p>
              </div>
            </div>
            <!-- Fact Counter Box End --> 
            
            <!-- Fact Counter Box Start -->
            <div class="fact-counter-box">
              <div class="icon-box"> <img src="images/icon-fact-counter-2.svg" alt=""> </div>
              <div class="fact-counter-box-content">
                <h2><span class="counter">90</span>%+</h2>
                <p>Client satisfaction</p>
              </div>
            </div>
            <!-- Fact Counter Box End --> 
            
            <!-- Fact Counter Box Start -->
            <div class="fact-counter-box">
              <div class="icon-box"> <img src="images/icon-fact-counter-3.svg" alt=""> </div>
              <div class="fact-counter-box-content">
                <h2><span class="counter">50</span>+</h2>
                <p>Projects completed</p>
              </div>
            </div>
            <!-- Fact Counter Box End --> 
          </div>
          <!-- Fact Counter Box List End --> 
          
          <!-- Fact Counter List Start -->
          <div class="fact-counter-list wow fadeInUp" data-wow-delay="0.4s">
            <ul>
              <li>Custom prefab designs</li>
              <li>Rapid build expertise</li>
            </ul>
          </div>
          <!-- Fact Counter List End --> 
        </div>
        <!-- Fact Counter Content End --> 
      </div>
    </div>
  </div>
</div>
<!-- Some Fact Section End --> 

<!-- What We Do Section Start -->
<div class="what-we-do">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6"> 
        <!-- What We Do Content Start -->
        <div class="what-we-do-content"> 
          <!-- Section Title Start -->
          <div class="section-title">
            <h3 class="wow fadeInUp">what we do</h3>
            <h2 class="text-anime-style-2" data-cursor="-opaque">Driving prefab innovation <span>and efficiency</span></h2>
            <p class="wow fadeInUp" data-wow-delay="0.2s">We deliver cutting-edge prefab solutions crafted for speed, durability, and sustainable construction success.</p>
          </div>
          <!-- Section Title End --> 
          
          <!-- What We Do List Start -->
          <div class="what-we-do-list wow fadeInUp" data-wow-delay="0.4s">
            <ul>
              <li>modular office builds</li>
              <li>prefab farmhouse designs</li>
              <li>rapid toilet setups</li>
              <li>labour colony solutions</li>
            </ul>
          </div>
          <!-- What We Do List End --> 
          
          <!-- What We Do Button Start -->
          <div class="what-we-do-btn wow fadeInUp" data-wow-delay="0.6s"> <a href="/contact" class="btn-default">contact now</a> </div>
          <!-- What We Do Button End --> 
        </div>
        <!-- What We Do Content End --> 
      </div>
      <div class="col-lg-6"> 
        <!-- What We Do Images Start -->
        <div class="what-we-do-images"> 
          <!-- What We Do Image 1 Start -->
          <div class="what-do-we-img-1">
            <figure class="image-anime reveal"> <img src="/assets/ms-porta-cabin-rural-india-scene.webp" alt="MS Porta Cabin in a rural Indian construction scene with dry shrubs."> </figure>
          </div>
          <!-- What We Do Image 1 End --> 
          
          <!-- What We Do Image 2 Start -->
          <div class="what-do-we-img-2">
            <figure class="image-anime reveal"> <img src="/assets/porta-cabin-exposed-rebar-india.webp" alt="Porta Cabin near a partially built structure with exposed rebar in India."> </figure>
          </div>
          <!-- What We Do Image 2 End --> 
          
          <!-- Experience Counter Box Start -->
          <div class="experience-counter-box">
            <div class="experience-counter-no">
              <h2><span class="counter">15</span>+</h2>
            </div>
            <div class="experience-counter-content">
              <p>Years of expertise in prefab</p>
            </div>
          </div>
          <!-- Experience Counter Box End --> 
        </div>
        <!-- What We Do Images End --> 
      </div>
    </div>
  </div>
</div>
<!-- What We Do Section End --> 

<!-- Our FAQs Section Start-->
<div class="our-faqs">
  <div class="container">
    <div class="row section-row align-items-center">
      <div class="col-lg-6"> 
        <!-- Section Title Start -->
        <div class="section-title">
          <h3 class="wow fadeInUp">faqs</h3>
          <h2 class="text-anime-style-2" data-cursor="-opaque">Your prefab questions <span>answered clearly</span></h2>
        </div>
        <!-- Section Title End --> 
      </div>
      <div class="col-lg-6"> 
        <!-- Section Button Start -->
        <div class="section-btn wow fadeInUp" data-wow-delay="0.2s"> <a href="faqs.html" class="btn-default">view all FAQs</a> </div>
        <!-- Section Button End --> 
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6"> 
        <!-- Our FAQs Image Start -->
        <div class="our-faqs-image"> 
          <!-- Our FAQs Img Start -->
          <div class="our-faqs-img">
            <figure class="image-anime reveal"> <img src="/assets/porta-cabin-indian-midday-sun.webp" alt="Porta Cabin under bright midday sun at an Indian construction site."> </figure>
          </div>
          <!-- Our FAQs Img End --> 
          
          <!-- Client Review Box Start -->
          <div class="client-review-box"> 
            <!-- Client Review Box Content Start -->
            <div class="client-review-box-content">
              <p>50+ Clients <span><i class="fa-solid fa-star"></i> 4.8 (100 Reviews)</span></p>
            </div>
            <!-- Client Review Box Content End --> 
            
            <!-- Client Review Images Start -->
            <div class="client-review-images"> 
              <!-- Client Image Start -->
              <div class="client-image">
                <figure class="image-anime"> <img src="images/satisfy-client-img-1.jpg" alt=""> </figure>
              </div>
              <!-- Client Image End --> 
              
              <!-- Client Image Start -->
              <div class="client-image">
                <figure class="image-anime"> <img src="images/satisfy-client-img-2.jpg" alt=""> </figure>
              </div>
              <!-- Client Image End --> 
              
              <!-- Client Image Start -->
              <div class="client-image">
                <figure class="image-anime"> <img src="images/satisfy-client-img-3.jpg" alt=""> </figure>
              </div>
              <!-- Client Image End --> 
              
              <!-- Client Image Start -->
              <div class="client-image">
                <figure class="image-anime"> <img src="images/satisfy-client-img-4.jpg" alt=""> </figure>
              </div>
              <!-- Client Image End --> 
              
              <!-- Client Image Start -->
              <div class="client-image">
                <figure class="image-anime"> <img src="images/satisfy-client-img-5.jpg" alt=""> </figure>
              </div>
              <!-- Client Image End --> 
              
              <!-- Add More Client Image Start -->
              <div class="client-image add-more">
                <p><span class="counter">20</span>+</p>
              </div>
              <!-- Add More Client Image End --> 
            </div>
            <!-- Client Review Images End --> 
          </div>
          <!-- Client Review Box End --> 
        </div>
        <!-- Our FAQs Image End --> 
      </div>
      <div class="col-lg-6"> 
        <!-- Our FAQ Section Start -->
        <div class="our-faq-section"> 
          <!-- FAQ Accordion Start -->
          <div class="faq-accordion" id="faqaccordion"> 
            <!-- Accordion Item Start -->
            <div class="accordion-item wow fadeInUp">
              <h2 class="accordion-header" id="heading1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1"> What prefab products do you offer? </button>
              </h2>
              <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#faqaccordion">
                <div class="accordion-body">
                  <p>If you need portable offices, farmhouses, or labour colonies, our prefab solutions can help. We provide rapid, durable builds tailored to your needs.</p>
                </div>
              </div>
            </div>
            <!-- Accordion Item End --> 
            
            <!-- Accordion Item Start -->
            <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
              <h2 class="accordion-header" id="heading2">
                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2"> How fast can you complete a prefab project? </button>
              </h2>
              <div id="collapse2" class="accordion-collapse collapse show" aria-labelledby="heading2" data-bs-parent="#faqaccordion">
                <div class="accordion-body">
                  <p>If you’re worried about timelines for offices, kiosks, or toilets, our off-site builds ensure quick delivery. We tailor speed to your project needs.</p>
                </div>
              </div>
            </div>
            <!-- Accordion Item End --> 
            
            <!-- Accordion Item Start -->
            <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
              <h2 class="accordion-header" id="heading3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3"> What’s included in an initial consultation? </button>
              </h2>
              <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#faqaccordion">
                <div class="accordion-body">
                  <p>In our prefab consultation, we assess your site, discuss design needs, and plan a fast, cost-effective build for your satisfaction.</p>
                </div>
              </div>
            </div>
            <!-- Accordion Item End --> 
            
            <!-- Accordion Item Start -->
            <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
              <h2 class="accordion-header" id="heading4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4"> Are your prefab designs customizable? </button>
              </h2>
              <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#faqaccordion">
                <div class="accordion-body">
                  <p>If you want unique farmhouses, cafes, or engineered buildings, our team customizes designs to fit your vision perfectly.</p>
                </div>
              </div>
            </div>
            <!-- Accordion Item End --> 
            
            <!-- Accordion Item Start -->
            <div class="accordion-item wow fadeInUp" data-wow-delay="0.8s">
              <h2 class="accordion-header" id="heading5">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5"> What types of clients do you serve? </button>
              </h2>
              <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#faqaccordion">
                <div class="accordion-body">
                  <p>From businesses needing offices to farmers wanting homes, our prefab solutions cater to diverse needs efficiently.</p>
                </div>
              </div>
            </div>
            <!-- Accordion Item End --> 
          </div>
          <!-- FAQ Accordion End --> 
        </div>
        <!-- Our FAQ Section End --> 
      </div>
    </div>
  </div>
</div>
<!-- Our FAQs Section End--> 

<!-- Our Testimonial Section Start -->
<div class="our-testimonial">
  <div class="container">
    <div class="row">
      <div class="col-lg-5"> 
        <!-- Testimonial Content Start -->
        <div class="testimonial-content"> 
          <!-- Section Title Start -->
          <div class="section-title dark-section">
            <h3 class="wow fadeInUp">our testimonial</h3>
            <h2 class="text-anime-style-2" data-cursor="-opaque">50+ clients say <span>about our prefab</span></h2>
            <p class="wow fadeInUp" data-wow-delay="0.2s">With over 50 happy clients, our prefab solutions are praised for quality, fast delivery, and exceptional project outcomes.</p>
          </div>
          <!-- Section Title End --> 
          
          <!-- Testimonial Button Start -->
          <div class="testimonial-btn"> <a href="/contact" class="btn-default">contact now</a> </div>
          <!-- Testimonial Button End --> 
        </div>
        <!-- Testimonial Content End --> 
      </div>
      <div class="col-lg-7"> 
        <!-- Testimonial Slider Box Start -->
        <div class="testimonial-slider-box"> 
          <!-- Testimonial Slider Start -->
          <div class="testimonial-slider">
            <div class="swiper">
              <div class="swiper-wrapper" data-cursor-text="Drag"> 
                <!-- Testimonial Slide Start -->
                <div class="swiper-slide"> 
                  <!-- Testimonial Item Start -->
                  <div class="testimonial-item"> 
                    <!-- Testimonial Header Start -->
                    <div class="testimonial-header"> 
                      <!-- Customer Logo Start -->
                      <div class="customer-logo"> <img src="{{brand:light_logo}}" alt=""  style="max-width: 60px !important;"> </div>
                      <!-- Customer Logo End --> 
                      
                      <!-- Testimonial Quotes Start -->
                      <div class="testimonial-quotes"> <img src="images/testimonial-quotes.svg" alt=""> </div>
                      <!-- Testimonial Quotes End --> 
                    </div>
                    <!-- Testimonial Header End --> 
                    
                    <!-- Testimonial Body Start -->
                    <div class="testimonial-body">
                      <p>"The prefab office we got was a game-changer for our site. The team was efficient, skilled, and delivered a design that met all our needs. Thanks to their quick work, we’re thriving!"</p>
                    </div>
                    <!-- Testimonial Body End --> 
                    
                    <!-- Testimonial Author Start -->
                    <div class="testimonial-author"> 
                      
                      <!-- Author Content Start -->
                      <div class="author-content">
                        <h3>Rajesh P. / <span>site manager</span></h3>
                      </div>
                      <!-- Author Content End --> 
                    </div>
                    <!-- Testimonial Author End --> 
                  </div>
                  <!-- Testimonial Item End --> 
                </div>
                <!-- Testimonial Slide End --> 
                
                <!-- Testimonial Slide Start -->
                <div class="swiper-slide"> 
                  <!-- Testimonial Item Start -->
                  <div class="testimonial-item"> 
                    <!-- Testimonial Header Start -->
                    <div class="testimonial-header"> 
                      <!-- Customer Logo Start -->
                      <div class="customer-logo"> <img src="{{brand:light_logo}}" alt=""  style="max-width: 60px !important;"> </div>
                      <!-- Customer Logo End --> 
                      
                      <!-- Testimonial Quotes Start -->
                      <div class="testimonial-quotes"> <img src="images/testimonial-quotes.svg" alt=""> </div>
                      <!-- Testimonial Quotes End --> 
                    </div>
                    <!-- Testimonial Header End --> 
                    
                    <!-- Testimonial Body Start -->
                    <div class="testimonial-body">
                      <p>"Our prefab farmhouse was built in record time. The team was thorough, creative, and made a plan that fit our rural needs perfectly. We’re delighted with the results!"</p>
                    </div>
                    <!-- Testimonial Body End --> 
                    
                    <!-- Testimonial Author Start -->
                    <div class="testimonial-author"> 
                      
                      <!-- Author Content Start -->
                      <div class="author-content">
                        <h3>Priya S. / <span>farmer</span></h3>
                      </div>
                      <!-- Author Content End --> 
                    </div>
                    <!-- Testimonial Author End --> 
                  </div>
                  <!-- Testimonial Item End --> 
                </div>
                <!-- Testimonial Slide End --> 
                
                <!-- Testimonial Slide Start -->
                <div class="swiper-slide"> 
                  <!-- Testimonial Item Start -->
                  <div class="testimonial-item"> 
                    <!-- Testimonial Header Start -->
                    <div class="testimonial-header"> 
                      <!-- Customer Logo Start -->
                      <div class="customer-logo"> <img src="{{brand:light_logo}}" alt=""  style="max-width: 60px !important;"> </div>
                      <!-- Customer Logo End --> 
                      
                      <!-- Testimonial Quotes Start -->
                      <div class="testimonial-quotes"> <img src="images/testimonial-quotes.svg" alt=""> </div>
                      <!-- Testimonial Quotes End --> 
                    </div>
                    <!-- Testimonial Header End --> 
                    
                    <!-- Testimonial Body Start -->
                    <div class="testimonial-body">
                      <p>"The labour colony exceeded our expectations. The team was precise, reliable, and built a solution that suited our workers perfectly. We’re very satisfied with it!"</p>
                    </div>
                    <!-- Testimonial Body End --> 
                    
                    <!-- Testimonial Author Start -->
                    <div class="testimonial-author"> 
                      
                      <!-- Author Content Start -->
                      <div class="author-content">
                        <h3>Amit K. / <span>contractor</span></h3>
                      </div>
                      <!-- Author Content End --> 
                    </div>
                    <!-- Testimonial Author End --> 
                  </div>
                  <!-- Testimonial Item End --> 
                </div>
                <!-- Testimonial Slide End --> 
              </div>
              <div class="testimonial-pagination"></div>
            </div>
          </div>
          <!-- Testimonial Slider End --> 
          
          <!-- Customer Rating Boxes Start -->
          <div class="customer-rating-boxes"> 
            <!-- Customer Rating Box Start -->
            <div class="customer-rating-box"> 
              <!-- Customer Rating Image Start -->
              <div class="customer-rating-image"> <img src="images/icon-google.svg" alt=""> </div>
              <!-- Customer Rating Image End --> 
              
              <!-- Customer Rating Content Start -->
              <div class="customer-rating-content">
                <p>google rating</p>
                <div class="customer-rating-counter">
                  <h3><span class="counter">4.8</span></h3>
                  <div class="customer-rating-star"> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> </div>
                </div>
              </div>
              <!-- Customer Rating Content End --> 
            </div>
            <!-- Customer Rating Box End --> 
            
            <!-- Customer Rating Box Start -->
            <div class="customer-rating-box"> 
              <!-- Customer Rating Counter Start -->
              <div class="customer-rating-counter">
                <p><span class="counter">4.8</span> rated</p>
              </div>
              <!-- Customer Rating Counter End --> 
              
              <!-- Customer Rating Counter Start -->
              <div class="customer-rating-star-box">
                <div class="customer-rating-star"> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> </div>
                <div class="star-rating-img"> <img src="images/customer-rating-img.svg" alt=""> </div>
              </div>
              <!-- Customer Rating Counter End --> 
            </div>
            <!-- Customer Rating Box End --> 
            
            <!-- Customer Rating Content Start -->
            <div class="customer-rating-box customer-rating-content">
              <p>Total rating <span class="counter">4.8</span> based on 100+ reviews</p>
            </div>
            <!-- Customer Rating Content End --> 
          </div>
          <!-- Customer Rating Boxes End --> 
        </div>
        <!-- Testimonial Slider Box End --> 
      </div>
    </div>
  </div>
</div>
<!-- Our Testimonial Section End --> 

<!-- Our Blog Section Start -->
<div class="our-blog">
  <div class="container">
    <div class="row section-row">
      <div class="col-lg-6"> 
        <!-- Section Title Start -->
        <div class="section-title">
          <h3 class="wow fadeInUp">blog / post</h3>
          <h2 class="text-anime-style-2" data-cursor="-opaque">Prefab insights, updates <span>and trends</span></h2>
        </div>
        <!-- Section Title End --> 
      </div>
      <div class="col-lg-6"> 
        <!-- Section Button Start -->
        <div class="section-btn wow fadeInUp" data-wow-delay="0.2s"> <a href="blog.html" class="btn-default">view all posts</a> </div>
        <!-- Section Button End --> 
      </div>
    </div>
    <div class="row">
		{{collection:blogs}}
     		 <div class="col-md-6"> 
        <!-- Post Item Start -->
        <div class="post-item wow fadeInUp"> 
          <!-- Post Featured Image Start-->
          <div class="post-featured-image"> <a href="{{url}}" data-cursor-text="View">
            <figure class="image-anime"> <img src="{{thumbnail_image}}" alt=""> </figure>
            </a> </div>
          <!-- Post Featured Image End --> 
          
          <!-- Post Item Body Start -->
          <div class="post-item-body"> 
            <!-- Post Item Tag Start -->
            <div class="post-item-meta">
              <ul>
                <li><i class="fa-solid fa-calendar-days"></i> {{date}}</li>
              </ul>
            </div>
            <!-- Post Item Tag End --> 
            
            <!-- Post Item Content Start -->
            <div class="post-item-content">
              <h2><a href="{{url}}">{{title}}</a></h2>
            </div>
            <!-- Post Item Content End --> 
            
            <!-- Post Item Readmore Button Start-->
            <div class="post-item-btn"> <a href="{{url}}" class="readmore-btn">read more</a> </div>
            <!-- Post Item Readmore Button End--> 
          </div>
          <!-- Post Item Body End --> 
        </div>
        <!-- Post Item End --> 
      </div>
		{{/collection:blogs}}
    </div>
  </div>
</div>
<!-- Our Blog Section End  -->